<body>
    <div class="container card-div">
        <div class="row">
            <!-- Coffee -->
            <div class="col-6">
                <mat-card class="card">
                    <mat-card-title>
                        PICK COFFEE
                    </mat-card-title>
                    <mat-card-content>
                        <img src="../../../assets/images/pick-coffee-image.png" class="card-image">
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-raised-button color="accent" [routerLink]="['/pick-coffee']">PICK</a>
                    </mat-card-actions>
                </mat-card>
            </div>
    
            <!-- Custom coffee -->
            <div class="col-6">
                <mat-card class="card">
                    <mat-card-title>
                        MAKE CUSTOM COFFEE
                    </mat-card-title>
                    <mat-card-content>
                        <img src="../../../assets/images/create-custom-coffee-image.png" class="card-image">
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" [routerLink]="['/create-custom-coffee']">CREATE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</body>