body {
    background: url("../../../assets/images/custom-coffee-component-background-full.jpg") no-repeat center center fixed;
    background-size: cover;
}

.card-div {
    padding-top: 20%;
}

.card-image{
    height: 100px;
    width: 100px;
}

.card {
    text-align: center;
}

.container{
    filter: none !important;
}

.selection {
    margin-top: 20px;
}