<body>
    <div class="row">
        <a mat-raised-button color="accent" class="back-button" [routerLink]="['/dashboard']"><mat-icon>keyboard_arrow_left</mat-icon></a>
    </div>
    <div class="container card-div">
        <div class="row">
            <div class="col-3" *ngFor="let item of ingredients">
                <mat-card class="card mb-2">
                    <mat-card-title>
                        {{item.title}}
                    </mat-card-title>
                    <mat-card-content>
                        <!-- Insert content here: -->
                        <!-- Left in stock -->
                        {{item.leftInStock}}
                        <!-- Price -->
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- Pick said coffee -->
                        <button [disabled]="item.leftInStock == 0" mat-raised-button color="accent" (click)="selectItem(item)">PICK</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- Selected coffee -->
    <div *ngIf="!errorMessage" class="row selection">
        <div class="col-4 offset-md-4">
            <div *ngIf="selection.length > 0">
                <mat-card class="card">
                    <mat-card-title>
                        SELECTION
                    </mat-card-title>
                    <mat-card-content>
                        <span>You have selected: {{printSelection()}}</span>
                        <br>
                        <span>Price: {{totalPrice}}</span>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- Order said coffee -->
                        <button mat-raised-button color="accent" (click)="orderCustomCoffee()">ORDER</button>
                        <button mat-raised-button color="warn" (click)="resetSelection()">RESET SELECTION</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- Error message -->
    <div *ngIf="errorMessage" class="row selection">
        <div class="col-4 offset-md-4">
            <div>
                <mat-card class="card">
                    <mat-card-title>
                        ORDER CAN NOT BE COMPLETED
                    </mat-card-title>
                    <mat-card-content>
                        <span>{{errorMessage}}</span>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" (click)="resetSelection()">RESET SELECTION</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</body>