<body>
    <div class="container card-div">
        <div class="row">
            <div class="col-4 offset-md-4">
                <mat-card class="card">
                    <mat-card-title>
                        ORDER COMPLETED
                    </mat-card-title>
                    <mat-card-content>
                        <!-- Insert content here: -->
                        <hr>
                        <span>ORDER DETAILS:</span>
                        <br><br>
                        <span><b>Date of order:</b> {{order.date | date:'short'}}</span>
                        <div>
                            <b>Ingredients:</b>
                            <ul>
                                <li *ngFor="let ingredient of order.ingredients">{{ingredient.title}} - {{ingredient.quantity}} {{ingredient.measurementUnit}}</li>
                            </ul>
                        </div>
                        <span><b>Price:</b> {{order.price}}</span>
                        <hr>
                        <span>Thank you for ordering.</span>
                    </mat-card-content>
                    <mat-card-actions>
                        <!-- Order another coffee -->
                        <div class="row">
                            <div class="col-4 offset-4">
                                <button mat-raised-button color="accent" [routerLink]="['/dashboard']">
                                    ORDER ANOTHER
                                </button>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</body>